body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 85vw;
    border-radius: 25px;
}

.title {
    color: #007BFF;
    margin-bottom: 10px;
}

#searchBox {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#searchButton {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}