@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

#searchBox {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header img {
  display: block;
  margin: 0 auto;
}

.search-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-section {
  display: flex;
  align-items: center;
}

/* #searchBox {
  width: 65%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  resize: none;
} */

.input-section .input {
  flex: 1;
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
  resize: none;
}

#searchButton {
  width: 100%;
  padding: 10px;
  border: 1px solid #87ad87;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: #87ad87;
  font-weight: bolder;
  transition: background-color 0.3s ease;
}

#transliterate {
  width: 50px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #9dc09d;
  color: #fff;
  margin-bottom: 15px;
  cursor: pointer;
}

#transliterate:hover {
  background-color: #87ad87; /* Darker Yellow */
  font-weight: 500;
}

#searchButton:hover {
  background-color: #9dc09d;
  color: white;
}

#loading {
  display: none;
  text-align: center;
  margin-top: 15px;
}

#answer {
  font-size: large;
  margin-top: 20px;
}
