@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  font-size: 18px;
}

.container {
  background-color: white;
  color: #063656;
  max-width: 1100px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

header {
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-section-button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #063656;
  /* background-color: #e8f4fa; */
  cursor: pointer;
  color: #063656;
}

.blue {
  background-color: #e8f4fa;
}

.input-section-button:hover {
  color: #0278b1;
  font-weight: 700;
  border: 1px solid #0278b1;
}

.input-section-heading {
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-top: 0;
}

.context-field {
  padding: 15px;
  min-height: 100px;
  resize: none;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
}

.fileupload-section {
  height: 130px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px dashed rgb(211, 211, 211);
  text-align: center;
  position: relative;
}

.fileupload-form {
  align-items: center;
  text-align: center;
  margin-top: 35px;
  vertical-align: center;
}

.file-upload-label {
  display: inline-block;
  padding: 12px 20px;
  background-color: #dce9f2;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  box-shadow: 2px 2px #4e96c0;
}

.file-upload-label:hover {
  background-color: #d4e3ec;
}

.file-upload-input {
  display: none;
}

.fileupload-submit {
  display: inline-block;
  padding: 12px 20px;
  color: black;
  border-radius: 6px;
  border: none;
  /* border: 1px solid #063656; */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  box-shadow: 2px 2px gray;
}

.fileupload-submit:hover {
  font-weight: 600;
  color: #0278b1;
  box-shadow: 2px 2px #0278b1;
}

.uploaded-submit-button {
  background-color: #dce9f2;
  display: inline-block;
  padding: 12px 20px;
  color: black;
  border-radius: 6px;
  border: none;
  color: #0278b1;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  box-shadow: 2px 2px #0278b1;
}

.file-upload-info {
  margin-top: 20px;
}

.file-upload-info span {
  font-weight: 500;
}

.upload-success-message {
  color: green;
}

.input-field {
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  font-size: 20px;
  width: 100%;
}

.submit-btn {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  cursor: pointer;
  color: #063656;
  font-weight: 700;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-bottom: 20px;
}

.submit-btn:hover {
  color: #0278b1;
  border: 1px solid #0278b1;
}

.output-section {
  text-align: center;
}

.answer {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: left;
  color: black;
}
