@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  font-size: 18px;
}

.container {
  background-color: white;
  color: #063656;
  max-width: 1100px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

header {
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-section-button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #063656;
  /* background-color: #e8f4fa; */
  cursor: pointer;
  color: #063656;
}

.blue {
  background-color: #e8f4fa;
}

.input-section-button:hover {
  color: #0278b1;
  font-weight: 700;
  border: 1px solid #0278b1;
}

.input-section-heading {
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-top: 0;
}

.context-field {
  padding: 15px;
  min-height: 100px;
  resize: none;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
}

.fileupload-section {
  height: 100px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px dashed rgb(211, 211, 211);
  text-align: center;
  position: relative;
}

.fileupload-input {
  margin: 15px 0 10px 120px;
}

.fileupload-submit {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6px 18px;
  border-radius: 10px;
  border: 1px solid #063656;
  cursor: pointer;
  color: #063656;
  font-weight: 700;
}

.fileupload-submit:hover {
  font-weight: 900;
  color: #0278b1;
  border: 1px solid #0278b1;
}

.input-field {
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  font-size: 20px;
}

.submit-btn {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  cursor: pointer;
  color: #063656;
  font-weight: 700;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-bottom: 20px;
}

.submit-btn:hover {
  color: #0278b1;
  border: 1px solid #0278b1;
}

.output-section {
  text-align: center;
}

.answer {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: left;
  color: black;
}
